.jumbotron
  %h1 偽線上字典
  %p 自行在右上方輸入查詢字詞
  %p 查詢所獲得的任何結果，保證完全不正確也不會再次相同。
  %p http://xxx.dict.tagbible.net 就是 http://www.dict.tagbible.net/search/xxx 用同樣的程式在跑。
  %p
    此為實作
    %a{:href => "http://ithelp.ithome.com.tw/question/10124965", :target => "_blank"}
      請教nginx的二級域名轉址設定問題
